[Unit]
Description=gamemoded

[Service]
Type=dbus
BusName=com.feralinteractive.GameMode
ExecStart=/usr/bin/gamemoded -l

[Install]
WantedBy=default.target
